*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: 'Raleway', sans-serif;
  --accent-font: 'STIX Two Text', sans-serif;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, 'Raleway', sans-serif);
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding-block-start: 10%;
}

.header__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  margin-block: 20px;
}

.header__theme-button {
  font-family: inherit;
  background-color: inherit;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 104%; /* 18.72px */
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px 5px;
}

.header__theme-button_is-active {
  position: relative;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 104%; /* 18.72px */
  pointer-events: none;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  left: 2px;
  bottom: 4px;
  z-index: -1;
  inline-size: calc(100% - 3px);
  block-size: 0.33em;
  background-color: var(--accent-color);
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.heading {
  font-family: var(--accent-font, 'STIX Two Text', sans-serif);
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 108px */
  text-align: center;
}

.content-section {
  padding-inline: 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px;
}

.content__title {
  font-size: 30px;
  margin-block-start: 7%;
  margin-block-end: 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__blockquote {
  inline-size: 75%;
  margin-block-end: 1.5em;
  margin-inline: auto;
  font-style: italic;
  font-weight: 400;
  line-height: 200%; /* 36px */
}

.content__paragraph-link {
  color: inherit;
  cursor: pointer;
}


.content__paragraph-link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px 5px;
}

.content__list {
  list-style-type: none;
  padding-inline-start: 40px;
}

.content__list .content__list-item:not(:last-child) {
  margin-block-end: 10px;
}

.content__list-item {
  position: relative;
}

.content__list-item::before {
  content: '';
  inline-size: 15px;
  block-size: 15px;
  background-image: url(../images/marker-light.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: -25px;
  top: 2px;
}

.theme_dark .content__list-item::before {
  background-image: url(../images/marker-dark.svg);
}

.content__text-block_type_first-lettered
.content__paragraph:nth-child(1)::first-letter {
  display: inline-block;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 30px;
  padding: 0 4px;
  margin-inline-end: 1px;
}

.theme_dark .content__text-block_type_first-lettered
.content__paragraph:nth-child(1)::first-letter {
  display: inline-block;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 30px;
  padding: 0 4px;
  margin-inline-end: 1px;
  border: 1px solid var(--text-color);
}

.content__figure {
  margin-block: 7%;
  inline-size: calc(100% + 10vi);
  transform: translateX(-5vi);
}


.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  margin-block-start: 20px;
  padding-block-end: 20px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 7%;
  aspect-ratio: 4 / 3;
  border: 1px solid var(--text-color, #312A4E);
}

.content__card-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 54px */
}

.colored-text {
  position: relative;
  white-space: nowrap;
}

.colored-text::after {
  content: '';
  position: absolute;
  left: -3px;
  bottom: 11px;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.25em;
  background-color: var(--accent-color);
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.content__card-subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  margin-block-start: 10%;
  padding: 2.5%;
  text-align: center;
  border-top: 1px solid var(--text-color);
}

.footer__copyright {
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}